.navbar {
  height: 70px;
  background: var(--dark-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: var(--shadow-soft);
}

.logo {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--accent);
}

.menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;

  li {
    cursor: pointer;
    color: var(--light-muted);
    transition: var(--transition);

    &:hover {
      color: var(--light);
    }
  }

  .logout {
    color: var(--secondary);
  }
}